<h1><%= @campaign.title %></h1>
<%= image_tag @campaign.featured_image if @campaign.featured_image.attached? %>
<h3>Total Raised So Far: <%= @campaign.total_raised %>₪</h3>
<h3># of donors: <%= @campaign.num_payments %></h3>
<div>
    Goal: <%= @campaign.goal %>
</div>
<div>
    Bonus Goal: <%= @campaign.bonus_goal %>
</div>
<%= @campaign.description %>

<%= link_to "Back", donation_campaigns_path %>
